footer {
   border: 1px solid black;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgb(22 22 22 / 90%);
   /* height: auto; */
   height: min-content;
   width: 100vw;
   color: white;
}

.footer-row {
   width: 100vw;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.footer-item {
   display: flex;
   flex-direction: column;
}

.footer-item h3 {
   font-size: 4vh;
   font-weight: 500;
   text-transform: capitalize;
   line-height: 3rem;
   padding-bottom: 5px;
}

.footer-item p {
   max-width: 500px;
   margin: 10px 0 0 5px;

   font-size: 3vh;
   color: #cacdd2;
   padding-bottom: 10px;
}

.footer-item .socials {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   flex-direction: row;
   list-style: none;
   gap: 10px;
}

.validator {
   padding: 5px 0;
   margin: 5px 0;
   list-style: none;
}

.validator img {
   width: 65px;
   height: 20px;
}

footer a{
	color: lightcyan;
}