#slideshow {
   position: relative;
   width: 100%;
   height: auto;

   height: 100vh;
   margin-bottom: 5%;
   overflow: hidden;
}

#slideshow img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   /* height: 500px; */
   height: 100vh;

   opacity: 0;
   transition: opacity 1s;
}

#slideshow img.active {
   opacity: 1;
}
