* {
   box-sizing: border-box;
}

/* Style inputs */
#fname,
#lname,
#country,
#subject {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

#contact-us-submit {
   background-color: darkgreen;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
}

#contact-us-submit:hover {
   background-color: #03aa0b;
}

/* Style the container/contact section */
#contac-us-container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 10px;
}

textarea#subject{
	height: 170px
}

/* Create two columns that float next to eachother */
.contact-us-column {
   float: left;
   width: 50%;
   margin-top: 6px;
   padding: 20px;
}

/* Clear floats after the columns */
.contact-us-row:after {
   content: "";
   display: table;
   clear: both;
}
#contact-us-h2 {
   text-align: center;
}

.contact-us-column img {
   width: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .contact-us-column,
   #contact-us-submit {
      width: 100%;
      margin-top: 0;
   }
}
