/* SCROLLBAR CATEGORY */
#products-wrapper ::-webkit-scrollbar {
   /*Width e height*/
   height: 1vh;
}

#products-wrapper ::-webkit-scrollbar-track {
   /* Track */
   width: 80%;
   margin: 0 5px;
   box-shadow: inset 0 0 5px lightgray;
   border-radius: 5px;

   /**/
   height: 26vh;
   margin: 0 5px;
   box-shadow: inset 0 0 5px lightgrey;
   border-radius: 5px;
}

#products-wrapper ::-webkit-scrollbar-thumb {
   /* Handle */
   background: gray;
   border-radius: 10px;
   /**/
   height: 77px;
   /* width: 30px; */
   background: gray;
   border-radius: 10px;
}

#products-wrapper ::-webkit-scrollbar-thumb:hover {
   /* Handle on hover */
   background: darkgray;
}

/* WRAP OF CATEGORY AND PRODUCTS */

#products-wrapper {
   margin: 0 5%;
   /* border: 2px dotted rgb(96, 139, 168); */
}

/* CATEGORY */

#categories {
   background-color: rgb(240, 240, 240);
   border: 1px solid rgb(22, 22, 22, 0.7);
   border-radius: 2px;

   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   margin-bottom: 20px;
   align-items: center;

   padding: 1%;

   min-height: 5%;
   max-height: 50%;

   overflow-x: auto; /* si crea lo slider sotto per sposatre le categorie*/
   overflow-y: hidden;
   /* flex-wrap: wrap; /* annulla l'overflow e le mostra tutte creando piu righe*/
}

.category-card {
   display: flex;

   /* min-width: 12%; */
   min-width: fit-content;
   min-height: 5%;
   max-height: 50%;

   margin: 5px;
   padding: 1% 2%;

   /* background-color: rgb(143, 143, 143); */
   border: 1px solid rgba(0, 0, 0, 0.359);
   border-radius: 5px;
   justify-content: center;
   align-items: center;

   flex: 1 0 8%; /* flex->  grow - shrink - basis
   /* flex-shrink: 0; */
   cursor: pointer;
}

.category-body {
   text-align: center;
   /* width: 80%; */
}

.category-title {
   /* font-size: 1.3vw; */
   font-size: 2.3vh;
   margin: 0;
}

/* PRODUCTS CSS */

#products {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}

.products-card {
   flex: 1 0 50%; /* flex->  grow - shrink - basis */

   max-width: 18rem; /* circa 288px*/
   min-width: 15rem;
   margin: 20px;

   border: 2px solid rgba(0, 0, 0, 0.359);
   border-radius: 0.25rem;
   overflow: hidden;
}

.products-card .products-img {
   width: 100%;
   /* max-width: 300px; */
   height: 180px;
   cursor: pointer;

}

.products-card .products-body {
   text-align: center;
   align-content: baseline;
   padding: 5px;
}

.products-card .products-title {
   margin-top: 0;
   text-align: center;
   font-size: large;
}

.products-card .products-description {
   text-align: center;
   /* border: 1px dashed red; */
}

/* BUTTON CSS */
.products-buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.products-btn {
   display: inline-block;

   padding: 0.3vw 0.3vw;

   text-align: center;
   font-weight: 400;
   white-space: nowrap;
   vertical-align: middle;
   line-height: 1.5;

   border: 1px solid transparent;
   border-radius: 4px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer;

}

@media screen and (min-width: 1538px) {
   .products-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;

      flex-wrap: wrap;
      align-content: center;
      gap: 4px;
   }

   .products-btn {
      width: 75%;
   }
}

.products-buy {
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d;
}
.products-buy:hover {
   color: #fff;
   background-color: #5a6268;
   border-color: #545b62;
}

span.button-price {
   font-weight: bold;
   color: rgb(21, 21, 21);
   padding: 0 1%;
}

.products-addcart {
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
}

.products-addcart:hover {
   color: #fff;
   background-color: #0069d9;
   border-color: #0062cc;
}

#about-us-section {
   text-align: center;
   margin: 90px 0;
}
