body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   min-width: 320px;
}

#navbar {
   position: sticky;
   top: 0;
   z-index: 999;
   width: 100%;
   background-color: #ffd16e;
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
}

#navbar ul {
   margin: 0;
   padding: 5px 5px 0;
   text-align: center;
   list-style: none;

   align-items: center;
}

#navbar ul li {
   font-size: 1.5vw;
   width: 50%;
}

#navbar ul a {
   color: black;
   text-decoration: none;
}

#navbar .logo-icona {
   width: 5vw;
   padding: 8%;
}
#navbar .logo-carrello {
   width: 5vw;
}

#ul-img-logo {
   width: 5%;
   height: 5%;
}

#ul-links {
   width: 55%;
   display: flex;
   justify-content: flex-start;
}

#ul-links li {
   padding-right: 10%;
   padding-left: 2%;
}

#ul-img-user {
   width: 40%;
   display: flex;
   justify-content: space-around;
}

.error {
   color: red;
   font-size: large;
}
